.home-page {
  text-align: center;
  padding: 20px;
 /*background: linear-gradient(to right, #EBF1EE, #8BE6E7, #8F82E4);*/
}
body {
  background: linear-gradient(to right, #EBF1EE, #8BE6E7, #8F82E4);
}
.header {
  padding: 20px;
}
.intro, .cta {
  margin: 20px;
}
button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}
.cta button {
  background-color: #142a53;
  color: #fff;
}
button:hover {
  background-color: #0056b3;
}
